<form action="/checkout/delivery.html"
      method="get"
      novalidate>

  <section id="section-shippingAddress">
    <h2>Shipping Address</h2>

    <div class="field long">
      <label for="shipping-name">Full Name</label>
      <input type="text"
             name="shipping-name"
             id="shipping-name"
             required
             autocomplete="shipping name">
    </div>

    <div class="field long"
         id="shipping-XXX">
      <label for="shipping-streetAddress1">Street Address</label>
      <input type="text"
             name="shipping-address"
             id="shipping-streetAddress1"
             required
             autocomplete="shipping address-line1">
    </div>

    <div class="field long">
      <label for="shipping-streetAddress2">Apt, Suite, Etc.</label>
      <input type="text"
             name="shipping-address2"
             id="shipping-streetAddress2"
             required
             autocomplete="shipping address-line2">
    </div>


    <div class="field long">
      <label for="shipping-city">City</label>
      <input type="text"
             name="shipping-city"
             id="shipping-city"
             required
             autocomplete="shipping address-level2">
    </div>


    <div class="field short"
         id="shipping-yyy"
         data-error="Please enter a valid zip code">
      <label for="shipping-zipCode">Zip Code</label>
      <input type="number"
             name="shipping-zip"
             id="shipping-zipCode"
             required
             pattern="^\d{5,6}(?:[-\s]\d{4})?$"
             autocomplete="shipping postal-code">
    </div>

    <div class="field short">
      <label for="shipping-state">State</label>
      <input type="text"
             name="shipping-state"
             id="shipping-state"
             required
             autocomplete="shipping address-level1">
    </div>


    <div class="field long">
      <!--       placeholder="+1-555-555-1212" -->
      <label for="phoneNum">Phone</label>
      <input type="tel"
             name="phone"
             id="phoneNum"
             pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$"
             required
             autocomplete="shipping tel">
    </div>

    <div class="field long"
         data-error="Please enter a valid 10-digit phone number">
      <!--       placeholder="+1-555-555-1212" -->
      <label for="phoneNum2">Phone 2</label>
      <input type="tel"
             name="phoneNum2"
             id="phoneNum2"
             pattern="^111\d*"
             novalidate
             required>
    </div>


  </section>

  <div id="separateBillingCheckboxfield">
    <input type="checkbox"
           id="separateBillingCheckbox"
           name="sameBillingShipping"
           checked />
    <label for="separateBillingCheckbox">Same billing and shipping address</label>
  </div>


  <section id="section-billingAddress">
    <h2>Billing Address</h2>

    <div class="field long">
      <label for="billing-name">Full Name</label>
      <input type="text"
             name="billing-name"
             id="billing-name"
             required
             disabled
             autocomplete="billing name">
    </div>

    <div class="field long"
         id="billing-XXX">
      <label for="billing-streetAddress1">Street Address</label>
      <input type="text"
             name="billing-address"
             id="billing-streetAddress1"
             required
             disabled
             autocomplete="billing address-line1">
    </div>

    <div class="field long">
      <label for="billing-streetAddress2">Apt, Suite, Etc.</label>
      <input type="text"
             name="billing-address2"
             id="billing-streetAddress2"
             required
             disabled
             autocomplete="billing address-line2">
    </div>


    <div class="field long">
      <label for="billing-city">City</label>
      <input type="text"
             name="billing-city"
             id="billing-city"
             required
             disabled
             autocomplete="billing address-level2">
    </div>


    <div class="field short">
      <label for="billing-state">State</label>
      <input type="text"
             name="billing-state"
             id="billing-state"
             required
             disabled
             autocomplete="billing address-level1">
    </div>


    <div class="field short"
         id="billing-yyy"
         data-error="Please enter a valid zip code">
      <label for="billing-zipCode">Zip Code</label>
      <input type="text"
             name="billing-zip"
             id="billing-zipCode"
             required
             disabled
             pattern="^\d{5,6}(?:[-\s]\d{4})?$"
             autocomplete="billing postal-code">
    </div>


  </section>

  <input type="submit"
         value="Continue to Delivery" />

</form>

<script>
let separateBillingCheckbox = document.getElementById('separateBillingCheckbox');
let billingAddressSection = document.getElementById('section-billingAddress');
let billingAddressInputs = document.querySelectorAll('#section-billingAddress input');

// toggle billing address section and  input disabled attributes
separateBillingCheckbox.addEventListener('change', e => {
  if (e.srcElement.checked) {
    billingAddressSection.style.display = 'none';
    billingAddressInputs.forEach(input => {
      input.disabled = true;
    });
  } else {
    billingAddressSection.style.display = 'unset';
    billingAddressInputs.forEach(input => {
      input.disabled = false;
    });
  }

});
</script>