<form>
  <section id="section-shippingAddress">
    <h2>Sign-in</h2>

    <div class="field long"
    data-error="Please enter a valid email address (e.g. name@gmail.com)">

      <label for="email">Email</label>
      <input type="email"
             name="email"
             id="email"
             required
             autocomplete="email">
    </div>

    <div class="field long helper"
         data-helper="Your password should be 8-20 characters long and include 1 number and 1 special character.">
      <label for="shipping-name">Password</label>
      <input type="text"
             name="shipping-name"
             id="shipping-name"
             required
             autocomplete="shipping name">

    </div>

  </section>

    <input type="submit"
         value="Create Account" />

</form>